/*calendar link*/

.calendar-link {
    color: var(--primary-text);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

@media(hover: hover) {
    .calendar-link:hover {
        color: var(--substituted-hour);
    }
}



/*h1*/
.h1-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;
}


/*calendar */
.container {
    /* width: 100%; */
    /* height: 100vh; */
    color: var(--primary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 54px;
    gap: 50px;
}
  
.calendar {
    width: 25rem;
    height: fit-content;
    background-color: var(--primary-background);
    border: 0.5rem solid var(--surface-1);
    border-radius: 40px !important;
    padding-bottom: 2rem;
}
  
.month {
    width: 100%;
    height: 10rem;
    background-color: var(--surface-1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 0 2rem;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
  

  
.month h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}
  
.month p {
    font-size: 1.8rem;
}
  
.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}
  
.weekdays div {
    font-size: 15pt;
    /* font-weight: bold; */
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.days {
    width: 100%;
    display: grid;
    padding: 0.2rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 54px 54px 54px 54px 54px 54px 54px;
}
  
.days div {
    font-size: 13pt;
    margin: 0.3rem;
    /* width: calc(40.2rem / 7); */
    /* height: 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
  
.days div:hover:not(.today) {
    background-color: var(--supplement-background);
    /* border: 0.3rem solid var(--surface-0); */
    cursor: pointer;
}
  
.prev-date,
.next-date {
    opacity: 0.5;
}
  
.today {
    background-color: var(--substituted-hour);
    color: var(--alternative-text);
}

/*scaling for devices*/
@media (max-width: 700px) {
    .calendar {
        width: 25.5rem;
    }

    .days {
      grid-template-columns: 54px 54px 54px 54px 54px 54px 54px;
    }

    .days div {
        width: 3.4rem;
        height: 3.4rem;
        margin: 0px;
        
    }

    .weekdays div {
        font-size: 1.4rem;
        width: 53.4px;
        height: 54.4px;
        
        
    }

    .weekdays {
        
        display: flex;
        flex-wrap: wrap;
        
    }
}


@media (max-width: 402px) {
    .days div {
        width: 52px;
        height: 52px;
        
        
    }

    .weekdays div {
        font-size: 1.4rem;
        width: 52px;
        height: 52px;
        
        
    }

    .weekdays {
        padding: 10px;
    }


}






.clicked {
    background-color: var(--surface-0);
}

/*code base - https://github.com/lashaNoz/Calendar */

