.detail-page-container {
  background-color: var(--supplement-background);
    border-radius: 10px;
    padding: 10px;
}

hr {
  border: 2px solid var(--primary-background);
}

.load-next {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  background-color: var(--supplement-background);
  color: var(--primary-text);
  border: none;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: fit-content;
  cursor: pointer;
  transition: .2s;
}

@media(hover: hover) {
  .load-next:hover {
    background-color: var(--surface-0)
  }
}


@media(min-width: 900px) {
  .detail-page-container {
    min-width: 700px;
    margin: auto;
  }
}

@media(min-width: 1200px) {
  .detail-page-container {
    min-width: 1000px;
    margin: auto;
  }
}

.info-box {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  margin: 5px 0;
  border-radius: 10px;
  transition: .2s;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media(hover: hover) {
  .info-box:hover {
    background-color: var(--primary-background);
  }
}

.box-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.box-title {
  font-size: 16pt;
  font-weight: bold;
}

.grade-result {
  display: flex;
  justify-content: center;
  font-size: 25pt;
  font-weight: bold;
  min-width: 20px;
}

/* FINAL GRADES */
.status {
  padding: 10px;
  background-color: var(--supplement-background);
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.status-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.status-text p {
  font-size: 20pt;
}

.final-grades {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  flex-flow: row wrap;
  gap: 50px;
}

.semester-1, .semester-2 {
  background-color: var(--supplement-background);
  border-radius: 15px;
  padding: 10px; 
}

.semester-title {
  display: flex;
  background: linear-gradient(60deg, var(--grade-2), var(--grade-1));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  justify-content: center;
  font-size: 25pt;
  font-weight: bold;
}

@media(max-width: 600px) {
  .final-grades {
    flex-flow: column wrap;
    gap: 50px;
  }
}

.final-grade {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

hr {
  border: solid var(--primary-background) 2px;
  border-radius: 2px;
}

.final-grade-result {
  font-size: 25pt;
}

.final-grade-subject {
  font-size: 20pt;
  font-weight: bold;
}

.average-mark {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.messages-container {
  display: flex;
  flex-flow: column wrap;
}
