/*upper header containing logo and info*/

.header{
    user-select: none;
    margin-bottom: 15px;
    width: 100%;
    line-height: 5em;
    height: 70px;
    background-color: var(--surface-1);
    color: var(--alternative-text);
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/*container for items*/

.header-icons{
    display: flex;
    gap: 15px;
    padding: 10px;
}

/*items in the upper header*/

.header-icons li{
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
    display: flex;
}

.header-icon svg{
    padding: 5px;
    border-radius: 10px;
    vertical-align: middle;
    background-color: var(--surface-0);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#zak-header{
    display: block;
    white-space: nowrap;
    padding: 0 10px;
}

.settings {
    color: var(--alternative-text);
}

@media screen and (max-width: 300px){
    #student-name {
        display: none;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--supplement-background);
    width: 200px;
    height: auto;
    z-index: 5;
    text-align: center;
    flex-flow: column;
    border-radius: 10px;
    left: -60px;
    /*border: 2px solid var(--surface-1);*/
}

.dropdown-content a:hover{
    background-color: var(--primary-background);
}

#dropdown-item-1 {
    padding-top: 5px;
}

#dropdown-item-3 {
    padding-bottom: 5px;
}

#dropdown-item-1:hover {
    border-radius: 10px 10px 0 0;
}

#dropdown-item-3:hover {
    border-radius: 0 0 10px 10px;
}

.dropdown-content a {
    position: relative;
    color: var(--primary-text); 
    font-size: medium;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown:hover .dropdown-content {display: flex;}
