/* html, body { */
/*   display: grid; */
/* } */

.login-content-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 200px;
  height: 100%;
}

@media(max-width: 1000px) {
  .login-content-wrapper {
    gap: 100px;
  }
}

@media(max-width: 900px) {
  .login-content-wrapper {
    gap: 20px;
    flex-flow: column wrap;
  }

  .login-title {
    justify-content: center !important;
  }

  .login-about svg {
    width: 100px;
    height: 100px;
  }
}

.login-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: var(--supplement-background);
  /* background-color: var(--surface-0); */
  border-radius: 50px;
}

.login-about svg {
  color: var(--alternative-text);
  background-color: var(--surface-0);
  border-radius: 20%;
}

/*container for username and password items*/
.login-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

/*login input items for username and password*/

.login-wrapper input {
  text-align: left;
  text-indent: 10px;
  color: var(--primary-text);
  background-color: var(--supplement-background);
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
  outline: none;
  font-size: 20pt;
  padding: 3px;
}

/*container for heading, login input, and enter button*/

.login-container{
  display: flex;
  align-items: left;
  flex-flow: column wrap;
  user-select: none;
  width: fit-content;
}

.login-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
}

.login-password-container input, .login-username-container input{
  width: 100%;
}

.login-username-container, .login-password-container{
  display: flex;
  position: relative;
}

/*heading*/
.login-container h1{
  font-size: 23pt;
  text-align: left;
}

.login-student {
  font-size: 23pt;
  color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-style: italic;
}

#login-student-first {
  background: linear-gradient(60deg, var(--grade-2), var(--grade-1));
}

#login-student-second {
  background: linear-gradient(60deg, var(--grade-1), var(--grade-3));
}

/*enter button to submit username and password*/

.enter input {
  background-color: var(--surface-0);
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
  padding: 8px 0;
  color: var(--alternative-text);
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 15pt;
}

/*eye next to the password input*/
#pass {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}

.eye-button {
  background-color: var(--supplement-background);
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 3px solid var(--primary-background);
  width: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.eye-button svg {
  color: var(--primary-text);
}

.login-messages {
  max-width: 400px;
}


@media screen and (max-width: 500px){
  .login-wrapper{
    max-width: 400px;
  }
  
  .login-messages {
    max-width: 400px;
  }
}
@media screen and (max-width: 400px){
  .login-messages {
    max-width: 300px;
  }
  .login-wrapper{
    width: 300px;
  }
  .login-container h1{
    font-size: 16pt;
    text-align: center;
  }

  .login-student {
    font-size: 16pt;
  }
}
@media screen and (max-width: 300px){
  .login-wrapper{
    width: 250px;
  }
}

#qrscan-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 9999;
  width: 700px;
  height: 500px;
  border-radius: 10px;
}

@media(max-width: 700px) {
  #qrscan-content {
    width: 300px;
    height: 400px;
    border: none;
    border-radius: 100px;
  }
}

#qrcode-toggle {
  display: flex;
  background-color: var(--supplement-background);
  border: 1px solid var(--primary-text);
  border-radius: 10px;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: auto;
}

#reader {
  background-color: var(--supplement-background);
  border: none;
}

#qrcode-toggle svg {
  color: var(--primary-text);
}

#user-icon{
  filter: invert(100%);
}

#sol-url {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: var(--supplement-background);
  border: none;
  color: var(--primary-text);
}

.loading {
  width: fit-content;
  margin: auto;
  margin-top: 10px !important;
}

.pwd-message {
  margin-top: 0.5em;
}

#pwd-loading {
  color: var(--primary-text);
}

#pwd-failed {
  color: red;
}

#pwd-empty {
  color: red;
}

#pwd-https {
  color: red;
}

#pwd-error {
  color: red;
}

#pwd-success {
  color: green;
}
